<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./resources/css/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./resources/css/articles.css"
    />
    <script
      src="https://kit.fontawesome.com/cec80c6e23.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="./resources/css/queries.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap"
      rel="stylesheet"
    />
    <title>Obesity prevelance visualizer</title>
    <script src="./scripts/main.js"></script>
    <script src="./scripts/articles.js"></script>
  </head>
  <body onload="loadMore()">
    <header class="main-header">
      <div>
        <nav id="mySidenav" class="sidenav">
          <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
          <div class="menu-elem"><a href="index.html">Home</a></div>
          <div class="menu-elem"><a href="about.html">About</a></div>
          <div class="menu-elem"><a href="statistics.html">Statistics</a></div>
          <div class="menu-elem">
            <a href="healthArticles.html">Health and Wellness</a>
          </div>
          <div class="menu-elem">
            <a href="diseasesArticles.html">Diseases and Conditions</a>
          </div>
          <div class="menu-elem"><a href="programs.html">Programs</a></div>
          <div class="menu-elem">
            <a href="./documentation.html">Documentation</a>
          </div>
        </nav>
        <div class="row">
          <div id="main">
            <p
              class="main-nav"
              onclick="openNav(window.matchMedia('(max-width: 650px)'))"
            >
              &#9776;
            </p>
          </div>
        </div>
        <!-- <div class="search-btn">
            <form>
              <input type="text" name="search" placeholder="Search.." />
            </form>
          </div> -->
        <div id="user_profile">
          <a href="#" class="user_profile"><i class="fas fa-user"></i> </a>
        </div>
        <div id="logoutButton">
          <button id="logout" class="button-login">Log out</button>
        </div>
        <div id="loginButton">
          <button id="modalBtn" class="button-login">Log in</button>
        </div>
        <div id="loginModal" class="modal">
          <div id="container" class="modal-content">
            <span class="closeBtn">&times;</span>
            <div class="form-container sign-up-container">
              <form id="signup-form">
                <h2>Create Account</h2>
                <div class="social-container">
                  <a href="#" class="social"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a href="#" class="social"
                    ><i class="fab fa-google-plus-g"></i
                  ></a>
                  <a href="#" class="social"><i class="fab fa-twitter"></i></a>
                </div>
                <span>or use your email for registration</span>
                <input
                  type="email"
                  placeholder="Email"
                  id="signup-email"
                  name="email"
                />
                <input
                  type="password"
                  placeholder="Password"
                  id="signup-password"
                  name="password"
                />
                <p>Let's get started</p>
                <button>Sign up</button>
              </form>
              <div class="error">
                <p id="signup-error-message"></p>
              </div>
              <div class="change-1">
                <button id="back" class="back">Back</button>
              </div>
            </div>

            <div class="form-container sign-in-container">
              <form id="signin-form">
                <div class="after-signup">
                  <p id="after-signup"></p>
                </div>
                <div class="after-signin">
                  <p id="after-signin"></p>
                </div>
                <h2>Sign in</h2>
                <div class="social-container">
                  <a href="#" class="social"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a href="#" class="social"
                    ><i class="fab fa-google-plus-g"></i
                  ></a>
                  <a href="#" class="social"><i class="fab fa-twitter"></i></a>
                </div>
                <span>or use your account</span>
                <input
                  type="email"
                  placeholder="Email"
                  id="signin-email"
                  name="email"
                />
                <input
                  type="password"
                  placeholder="Password"
                  id="signin-password"
                  name="password"
                />
                <a href="#">Forgot your password?</a>
                <button>Sign in</button>
              </form>
              <div class="change-2">
                <p>You don't have an account?</p>
                <button id="signUp" class="button-ghost">Sign up</button>
              </div>
              <div class="error">
                <p id="signin-error-message"></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script src="./scripts/userUtil/register.js"></script>
      <script src="./scripts/userUtil/logout.js"></script>
      <script src="./scripts/userUtil/verifyToken.js"></script>
      <script src="./scripts/userUtil/signin.js"></script>
      <script src="./scripts/login.js"></script>

      <div class="title">
        <h1>Obesity prevalance visualizer</h1>
      </div>
      <div class="hero-text-box">
        <h2>
          Find out everything you want to know about obessity on this site!
        </h2>
        <a class="button" href="./about.html">Get started</a>
        <a class="button" href="./statisticsViewer.html">Show me more</a>
      </div>
    </header>
    <section class="section-disease">
      <div class="row">
        <div class="col-1-of-1">
          <h2>Diseases and Conditions</h2>
          <p>
            Overweight and obesity may increase the risk of many health
            problems, including diabetes, heart disease, and certain cancers.
          </p>
        </div>
      </div>
    </section>
    <div class="articles-container">
      <div class="article">
        <a href="./article.html">
          <div class="article-photo">
            <img src="./resources/css/img/food.jpeg" />
          </div>
          <div class="image-text">
            <div class="text">
              Some text for this article. the first sentence or something
            </div>
          </div>
          <h3 class="article-title">Health</h3>
        </a>
      </div>
      <div class="article">
        <a href="./article.html">
          <div class="article-photo">
            <img src="./resources/css/img/food2.jpeg" />
          </div>
          <div class="image-text">
            <div class="text">
              Some text for this article. the first sentence or something
            </div>
          </div>
          <h3 class="article-title">Wellness</h3>
        </a>
      </div>
      <div class="article">
        <a href="./article.html">
          <div class="article-photo">
            <img src="./resources/css/img/food1.jpeg" />
          </div>
          <div class="image-text">
            <div class="text">
              Some text for this article. the first sentence or something
            </div>
          </div>
          <h3 class="article-title">Best food</h3>
        </a>
      </div>
      <div class="article">
        <a href="./article.html">
          <div class="article-photo">
            <img src="./resources/css/img/food1.jpeg" />
          </div>
          <div class="image-text">
            <div class="text">
              Some text for this article. the first sentence or something
            </div>
          </div>
          <h3 class="article-title">Best food</h3>
        </a>
      </div>
      <div class="article">
        <a href="./article.html">
          <div class="article-photo">
            <img src="./resources/css/img/food.jpeg" />
          </div>
          <div class="image-text">
            <div class="text">
              Some text for this article. the first sentence or something
            </div>
          </div>
          <h3 class="article-title">Wellness</h3>
        </a>
      </div>
      <div class="article">
        <a href="./article.html">
          <div class="article-photo">
            <img src="./resources/css/img/food.jpeg" />
          </div>
          <div class="image-text">
            <div class="text">
              Some text for this article. the first sentence or something
            </div>
          </div>
          <h3 class="article-title">Health</h3>
        </a>
      </div>
      <div class="article">
        <a href="./article.html">
          <div class="article-photo">
            <img src="./resources/css/img/food2.jpeg" />
          </div>
          <div class="image-text">
            <div class="text">
              Some text for this article. the first sentence or something
            </div>
          </div>
          <h3 class="article-title">Wellness</h3>
        </a>
      </div>
      <div class="article">
        <a href="./article.html">
          <div class="article-photo">
            <img src="./resources/css/img/food1.jpeg" />
          </div>
          <div class="image-text">
            <div class="text">
              Some text for this article. the first sentence or something
            </div>
          </div>
          <h3 class="article-title">Best food</h3>
        </a>
      </div>
      <div class="article">
        <a href="./article.html">
          <div class="article-photo">
            <img src="./resources/css/img/food.jpeg" />
          </div>
          <div class="image-text">
            <div class="text">
              Some text for this article. the first sentence or something
            </div>
          </div>
          <h3 class="article-title">Health</h3>
        </a>
      </div>
      <div class="article">
        <a href="./article.html">
          <div class="article-photo">
            <img src="./resources/css/img/food2.jpeg" />
          </div>
          <div class="image-text">
            <div class="text">
              Some text for this article. the first sentence or something
            </div>
          </div>
          <h3 class="article-title">Wellness</h3>
        </a>
      </div>
      <div class="article">
        <a href="./article.html">
          <div class="article-photo">
            <img src="./resources/css/img/food1.jpeg" />
          </div>
          <div class="image-text">
            <div class="text">
              Some text for this article. the first sentence or something
            </div>
          </div>
          <h3 class="article-title">Best food</h3>
        </a>
      </div>
      <div class="article">
        <a href="./article.html">
          <div class="article-photo">
            <img src="./resources/css/img/food1.jpeg" />
          </div>
          <div class="image-text">
            <div class="text">
              Some text for this article. the first sentence or something
            </div>
          </div>
          <h3 class="article-title">Best food</h3>
        </a>
      </div>
      <div class="article">
        <a href="./article.html">
          <div class="article-photo">
            <img src="./resources/css/img/food.jpeg" />
          </div>
          <div class="image-text">
            <div class="text">
              Some text for this article. the first sentence or something
            </div>
          </div>
          <h3 class="article-title">Wellness</h3>
        </a>
      </div>
      <div class="article">
        <a href="./article.html">
          <div class="article-photo">
            <img src="./resources/css/img/food.jpeg" />
          </div>
          <div class="image-text">
            <div class="text">
              Some text for this article. the first sentence or something
            </div>
          </div>
          <h3 class="article-title">Health</h3>
        </a>
      </div>
      <div class="article">
        <a href="./article.html">
          <div class="article-photo">
            <img src="./resources/css/img/food2.jpeg" />
          </div>
          <div class="image-text">
            <div class="text">
              Some text for this article. the first sentence or something
            </div>
          </div>
          <h3 class="article-title">Wellness</h3>
        </a>
      </div>
      <div class="article">
        <a href="./article.html">
          <div class="article-photo">
            <img src="./resources/css/img/food1.jpeg" />
          </div>
          <div class="image-text">
            <div class="text">
              Some text for this article. the first sentence or something
            </div>
          </div>
          <h3 class="article-title">Best food</h3>
        </a>
      </div>
      <div class="article">
        <a href="./article.html">
          <div class="article-photo">
            <img src="./resources/css/img/food.jpeg" />
          </div>
          <div class="image-text">
            <div class="text">
              Some text for this article. the first sentence or something
            </div>
          </div>
          <h3 class="article-title">Wellness</h3>
        </a>
      </div>
      <div class="article">
        <a href="./article.html">
          <div class="article-photo">
            <img src="./resources/css/img/food.jpeg" />
          </div>
          <div class="image-text">
            <div class="text">
              Some text for this article. the first sentence or something
            </div>
          </div>
          <h3 class="article-title">Health</h3>
        </a>
      </div>
      <div class="article">
        <a href="./article.html">
          <div class="article-photo">
            <img src="./resources/css/img/food2.jpeg" />
          </div>
          <div class="image-text">
            <div class="text">
              Some text for this article. the first sentence or something
            </div>
          </div>
          <h3 class="article-title">Wellness</h3>
        </a>
      </div>
      <div class="article">
        <a href="./article.html">
          <div class="article-photo">
            <img src="./resources/css/img/food1.jpeg" />
          </div>
          <div class="image-text">
            <div class="text">
              Some text for this article. the first sentence or something
            </div>
          </div>
          <h3 class="article-title">Best food</h3>
        </a>
      </div>
    </div>
    <a href="#" id="loadMore">Load more</a>

    <div class="clearfix"></div>
    <footer>
      <div class="line"></div>
      <div class="footer-content">
        <div class="footer-about-us">
          <h3>Obesity prevalance visualizer</h3>
          <h3>About us</h3>
          <p>
            Why painful the sixteen how minuter looking nor. Subject but why ten
            earnest husband imagine sixteen brandon.
          </p>
          <h3>Contact us</h3>
          <div class="mail-tel">
            <i class="fas fa-phone-alt"></i>
            <p>07865678</p>
          </div>
          <div class="mail-tel">
            <i class="fas fa-envelope-open-text"></i>
            <p>obesity.prevalance@yahoo.com</p>
          </div>
        </div>
        <div class="footer-information">
          <h3>Informations</h3>
          <ul>
            <li><a href="./about.html">About</a></li>
            <li><a href="./statistics.html">Statistics</a></li>
            <li><a href="./healthArticles.html">Health and Wellness</a></li>
            <li>
              <a href="./diseasesArticles.html">Diseases and Conditions</a>
            </li>
            <li><a href="./programs.html">Programs</a></li>
          </ul>
        </div>
        <div class="footer-helpful">
          <h3>Helpful links</h3>
          <ul>
            <li><a href="./healthArticles.html">Health and Wellness</a></li>
            <li>
              <a href="./diseasesArticles.html">Diseases and Conditions</a>
            </li>
            <li><a href="./programs.html">Programs</a></li>
          </ul>
        </div>
      </div>
      <div class="line"></div>
      <div class="social-media-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-google-plus-g"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="footer-end">
        <p>2020 &#64;FilimonSimion. All rights reserved</p>
      </div>
    </footer>
  </body>
</html>
