<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./resources/css/style.css" />
    <script
      src="https://kit.fontawesome.com/cec80c6e23.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="./resources/css/queries.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./resources/css/documentation.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap"
      rel="stylesheet"
    />
    <title>Obesity prevelance visualizer documentation</title>
    <script src="./scripts/main.js"></script>
  </head>

  <body>
    <header class="main-header">
      <div>
        <nav id="mySidenav" class="sidenav">
          <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
          <div class="menu-elem"><a href="index.html">Home</a></div>
          <div class="menu-elem"><a href="about.html">About</a></div>
          <div class="menu-elem"><a href="statistics.html">Statistics</a></div>
          <div class="menu-elem">
            <a href="healthArticles.html">Health and Wellness</a>
          </div>
          <div class="menu-elem">
            <a href="diseasesArticles.html">Diseases and Conditions</a>
          </div>
          <div class="menu-elem"><a href="programs.html">Programs</a></div>
          <div class="menu-elem">
            <a href="./documentation.html">Documentation</a>
          </div>
        </nav>
        <div class="row">
          <div id="main">
            <p
              class="main-nav"
              onclick="openNav(window.matchMedia('(max-width: 650px)'))"
            >
              &#9776;
            </p>
          </div>
        </div>
        <!-- <div class="search-btn">
          <form>
            <input type="text" name="search" placeholder="Search.." />
          </form>
        </div> -->
        <div id="user_profile">
          <a href="#" class="user_profile"><i class="fas fa-user"></i> </a>
        </div>
        <div id="logoutButton">
          <button id="logout" class="button-login">Log out</button>
        </div>
        <div id="loginButton">
          <button id="modalBtn" class="button-login">Log in</button>
        </div>
        <div id="loginModal" class="modal">
          <div id="container" class="modal-content">
            <span class="closeBtn">&times;</span>
            <div class="form-container sign-up-container">
              <form id="signup-form">
                <h2>Create Account</h2>
                <div class="social-container">
                  <a href="#" class="social"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a href="#" class="social"
                    ><i class="fab fa-google-plus-g"></i
                  ></a>
                  <a href="#" class="social"><i class="fab fa-twitter"></i></a>
                </div>
                <span>or use your email for registration</span>
                <input
                  type="email"
                  placeholder="Email"
                  id="signup-email"
                  name="email"
                />
                <input
                  type="password"
                  placeholder="Password"
                  id="signup-password"
                  name="password"
                />
                <p>Let's get started</p>
                <button>Sign up</button>
              </form>
              <div class="error">
                <p id="signup-error-message"></p>
              </div>
              <div class="change-1">
                <button id="back" class="back">Back</button>
              </div>
            </div>

            <div class="form-container sign-in-container">
              <form id="signin-form">
                <div class="after-signup">
                  <p id="after-signup"></p>
                </div>
                <div class="after-signin">
                  <p id="after-signin"></p>
                </div>
                <h2>Sign in</h2>
                <div class="social-container">
                  <a href="#" class="social"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a href="#" class="social"
                    ><i class="fab fa-google-plus-g"></i
                  ></a>
                  <a href="#" class="social"><i class="fab fa-twitter"></i></a>
                </div>
                <span>or use your account</span>
                <input
                  type="email"
                  placeholder="Email"
                  id="signin-email"
                  name="email"
                />
                <input
                  type="password"
                  placeholder="Password"
                  id="signin-password"
                  name="password"
                />
                <a href="#">Forgot your password?</a>
                <button>Sign in</button>
              </form>
              <div class="change-2">
                <p>You don't have an account?</p>
                <button id="signUp" class="button-ghost">Sign up</button>
              </div>
              <div class="error">
                <p id="signin-error-message"></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script src="./scripts/userUtil/register.js"></script>
      <script src="./scripts/userUtil/logout.js"></script>
      <script src="./scripts/userUtil/verifyToken.js"></script>
      <script src="./scripts/userUtil/signin.js"></script>
      <script src="./scripts/login.js"></script>

      <div class="title">
        <h1>Obesity prevalance visualizer</h1>
      </div>
      <div class="hero-text-box">
        <h2>
          Find out everything you want to know about obessity on this site!
        </h2>
        <a class="button" href="./about.html">Get started</a>
        <a class="button" href="./statisticsViewer.html">Show me more</a>
      </div>
    </header>

    <div class="doc-container">
      <h1 class="big-title">Documentation overview</h1>
      <ol class="big-category">
        <li><a href="#general-doc">General documentation</a></li>
        <li><a href="#api-doc">API documentation</a></li>
      </ol>
      <h1 class="medium-title" id="general-doc">General documentation</h1>
      <ol class="medium-category">
        <li><a href="#overview">Overview</a></li>
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#database">Database Schema</a></li>
      </ol>
      <h1 class="medium-title" id="api-doc">API documentation</h1>
      <ol class="medium-category">
        <li><a href="#api-accounts">API accounts</a></li>
        <li><a href="#api-data">API obesity data</a></li>
      </ol>
      <h1 class="small-title" id="overview">Overview</h1>
      <h1 class="small-title" id="introduction">Introduction</h1>
      <h1 class="small-title" id="database">Database Schema</h1>
      <h1 class="small-title" id="api-accounts">API accounts</h1>
      <ol class="medium-category">
        <li><a href="#api-accounts-response">Response structure</a></li>
        <li><a href="#api-users">/api/users</a></li>
        <li><a href="#api-register">/api/users/register</a></li>
        <li><a href="#api-login">/api/users/login</a></li>
        <li><a href="#api-logout">/api/users/logout</a></li>
        <li><a href="#api-profile">/api/users/profile</a></li>
        <li><a href="#api-password">/api/users/changePassword</a></li>
        <li><a href="#api-restrict">/api/users/restrict</a></li>
        <li><a href="#api-unrestrict">/api/users/unrestrict</a></li>
      </ol>
      <h1 class="small-title" id="api-data">API obesity data</h1>
      <ol class="medium-category">
        <li><a href="#api-data-response">Response structure</a></li>
        <li><a href="#api-states">/api/states</a></li>
        <li><a href="#api-age">/api/age</a></li>
        <li><a href="#api-gender">/api/gender</a></li>
        <li><a href="#api-income">/api/income</a></li>
        <li><a href="#api-ethnicity">/api/ethnicity</a></li>
        <li><a href="#api-education">/api/education</a></li>
      </ol>
      <h1 class="small-title" id="api-accounts-response">Response structure</h1>
      <p>The structure of the API responses' body is as follows:</p>
      <ul class="small-category">
        <li>
          for successful responses, a JSON object containing the properties:
          <ul>
            <li>
              <mark class="highlight">status</mark>:
              <mark class="highlight">success</mark>
            </li>
            <li>
              <mark class="highlight">data</mark>: An object, structure detailed
              for each route below.
            </li>
          </ul>
        </li>
        <li>
          for unsuccessful responses, a JSON object containing the properties:
          <ul>
            <li>
              <mark class="highlight">status</mark>:
              <mark class="highlight">fail</mark>
            </li>
            <li>
              <mark class="highlight">error</mark>: An object containing a
              message property, and sometimes additional helpful properties.
            </li>
          </ul>
        </li>
      </ul>
      <h1 class="small-title-content" id="api-users">/api/users</h1>
      <h1 class="subtitle">GET</h1>
      <p>
        Get the all the users from the db.
      </p>
      <h1 class="small-subtitle">Query parameters:</h1>
      <ul class="small-category">
        <li>
          token - It will return only the user with that token.
        </li>
      </ul>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          200 - OK
        </li>
        <li>
          400 - There was a problem fetching data
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3002/api/users</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
        <code>
{
    "status": "success",
    "data": [
        {
            "userType": "user",
            "token": null,
            "restricted": false,
            "_id": "5eba65e5f167ce03401fd428",
            "email": "filimon.raluca@gmail.com",
            "password": "$2a$08$oE6bzdKTEMXTHZIVRFgb7.X2ytw51ELeYF69QGfKJyc7LSDfLPTje",
            "__v": 0
        },
        {
            "userType": "user",
            "token": null,
            "restricted": false,
            "_id": "5eba6ca9f167ce03401fd429",
            "email": "ralucik_2006@yahoo.com",
            "password": "$2a$08$1R/RQ6FIGJ8Rj1BmU1hHN.V3uEF6T/UCu1uZdSFYCXh4LwPFzNOWy",
            "__v": 0
        }
    ]
}</code></pre>
      <h1 class="subtitle">DELETE</h1>
      <p>
        Deletes all users from db.
      </p>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          204 - NO_CONTENT
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3002/api/users</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
        <code>
        </code></pre>
      <h1 class="small-title" id="api-register">/api/users/register</h1>
      <h1 class="subtitle">POST</h1>
      <p>
        Post a user with an email and a password into db.
      </p>
      <h1 class="small-subtitle">Request body</h1>
      <pre><code>{
    "email": "andrasi@gmail.com",
    "password": "andra"
}</code></pre>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          201 - CREATED
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3002/api/users/register</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
<code>{
    "status": "success",
    "data": {
        "userType": "user",
        "token": null,
        "restricted": false,
        "_id": "5ebfc318ba921b58b838ce61",
        "email": "andrasi@gmail.com",
        "password": "$2a$08$4iY0wY/E4K9wtCroNhWFSO.3qw9d/tyOK.GGGmGbTlW89dfVuYnwK",
        "__v": 0
    }
}</code></pre>
      <h1 class="small-title" id="api-login">/api/users/login</h1>
      <h1 class="subtitle">POST</h1>
      <p>
        Generates and sets the token for an user from db.
      </p>
      <h1 class="small-subtitle">Request body:</h1>
      <pre>
<code>{
    "email": "andrasi@gmail.com",
    "password": "andra"
}</code>
      </pre>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          201 - CREATED
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3002/api/users/login</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
<code>{
    "status": "success",
    "data": {
        "userType": "user",
        "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZWJmYzMxOGJh7OTIxYjU4YjgzOGNlNjEiLCJpYXQiOjE1ODk2MjYxMzV9.4fcDes2z80SwE8hTQejBq8UlmFUw1tRj6anD_dEEnM4",
        "restricted": false,
        "_id": "5ebfc318ba921b58b838ce61",
        "email": "andrasi@gmail.com",
        "password": "$2a$08$4iY0wY/E4K9wtCroNhWFSO.3qw9d/tyOK.GGGmGbTlW89dfVuYnwK",
        "__v": 0
    }
}</code></pre>
      <h1 class="small-title" id="api-logout">/api/users/logout</h1>
      <h1 class="subtitle">POST</h1>
      <p>
        Removes the token for an user from db.
      </p>
      <h1 class="small-subtitle">Request body:</h1>
      <pre>
<code>{
	"token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZWJmYzMxOGJhOTIxYjU4YjgzOGNlNjEiLCJpYXQiOjE1ODk2MjYxMzV9.4fcDes2z80SwE8hTQejBq8UlmFUw1tRj6anD_dEEnM4"
}</code>
      </pre>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          201 - CREATED
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3002/api/users/logout</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
<code>{
    "status": "success",
    "data": {
       "n": 1,
       "nModified": 1,
       "opTime": {
          "ts": "6827392906936975364",
          "t": 18
       },
       "electionId": "7fffffff0000000000000012",
       "ok": 1,
       "$clusterTime": {
          "clusterTime": "6827392906936975364",
          "signature": {
             "hash": "EmxZqAkQ1tTeKVg0HivgEIvmMxU=",
             "keyId": "6796929880727486466"
          }
       },
       "operationTime": "6827392906936975364"
    }
 }</code></pre>
      <h1 class="small-title" id="api-profile">/api/users/profile</h1>
      <h1 class="subtitle">POST</h1>
      <p>
        Adds information about the user profile in db.
      </p>
      <h1 class="small-subtitle">Request body:</h1>
      <pre>
<code>{
	"token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZWJmYzMxOGJhOTIxYjU4YjgzOGNlNjEiLCJpYXQiOjE1ODk2MjY0ODB9.uxvkoOXiPIH4Oe25RQt6MD1V9QBHEtCfet7FQXDcdBU",
	"firstName": "Andra",
	"lastName": "Simion"
}</code>
      </pre>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          201 - CREATED
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3002/api/users/profile</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
<code>{
    "status": "success",
    "data": {
       "n": 1,
       "nModified": 1,
       "opTime": {
          "ts": "6827394131002654722",
          "t": 18
       },
       "electionId": "7fffffff0000000000000012",
       "ok": 1,
       "$clusterTime": {
          "clusterTime": "6827394131002654722",
          "signature": {
             "hash": "73QSrPARPY2uIYMlLLuCU4Aa33I=",
             "keyId": "6796929880727486466"
          }
       },
       "operationTime": "6827394131002654722"
    }
 }</code></pre>
      <h1 class="small-title" id="api-password">/api/users/changePassword</h1>
      <h1 class="subtitle">POST</h1>
      <p>
        Change the password for an authenticated user.
      </p>
      <h1 class="small-subtitle">Request body:</h1>
      <pre>
<code>{
	"token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZWJmYzMxOGJhOTIxYjU4YjgzOGNlNjEiLCJpYXQiOjE1ODk2MjY0ODB9.uxvkoOXiPIH4Oe25RQt6MD1V9QBHEtCfet7FQXDcdBU",
	"currentPassword": "andra",
	"newPassword": "parola"
}</code>
      </pre>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          201 - CREATED
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3002/api/users/changePassword</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
<code>{
    "status": "success",
    "data": {
       "userType": "user",
       "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZWJmYzMxOGJhOTIxYjU4YjgzOGNlNjEiLCJpYXQiOjE1ODk2MjY0ODB9.uxvkoOXiPIH4Oe25RQt6MD1V9QBHEtCfet7FQXDcdBU",
       "restricted": false,
       "_id": "5ebfc318ba921b58b838ce61",
       "email": "andrasi@gmail.com",
       "password": "parola",
       "__v": 0,
       "firstName": "Andra",
       "lastName": "Simion"
    }
}</code></pre>
      <h1 class="small-title" id="api-restrict">/api/users/restrict</h1>
      <h1 class="subtitle">POST</h1>
      <p>
        An admin can restrict an user with this route.
      </p>
      <h1 class="small-subtitle">Request body:</h1>
      <pre>
<code>{
	"token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZWJiZmVmMmU1Mjk0MjM1M2MzZDI0ZmIiLCJpYXQiOjE1ODk0NjAxNzh9.s0dzXqTGGgbXQono-xXYarUbm6q1-5uu7k6en1VJePQ",
	"email": "andrasi@gmail.com"
}</code>
      </pre>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          201 - CREATED
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3002/api/users/restrict</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
<code>{
    "status": "success",
    "data": {
       "n": 1,
       "nModified": 1,
       "opTime": {
          "ts": "6827396652148457473",
          "t": 18
       },
       "electionId": "7fffffff0000000000000012",
       "ok": 1,
       "$clusterTime": {
          "clusterTime": "6827396652148457473",
          "signature": {
             "hash": "3H76Nk4T1FHuy04aEhk3CpYAcNA=",
             "keyId": "6796929880727486466"
          }
       },
       "operationTime": "6827396652148457473"
    }
 }</code></pre>
      <h1 class="small-title" id="api-unrestrict">/api/users/unrestrict</h1>
      <h1 class="subtitle">POST</h1>
      <p>
        An admin can unrestrict an user with this route.
      </p>
      <h1 class="small-subtitle">Request body:</h1>
      <pre>
<code>{
	"token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZWJiZmVmMmU1Mjk0MjM1M2MzZDI0ZmIiLCJpYXQiOjE1ODk0NjAxNzh9.s0dzXqTGGgbXQono-xXYarUbm6q1-5uu7k6en1VJePQ",
	"email": "andrasi@gmail.com"
}</code>
      </pre>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          201 - CREATED
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3002/api/users/unrestrict</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
<code>{
    "status": "success",
    "data": {
       "n": 1,
       "nModified": 1,
       "opTime": {
          "ts": "6827396811062247425",
          "t": 18
       },
       "electionId": "7fffffff0000000000000012",
       "ok": 1,
       "$clusterTime": {
          "clusterTime": "6827396811062247425",
          "signature": {
             "hash": "/IoMsXkq/lLqepyWy3ZZyp39JOM=",
             "keyId": "6796929880727486466"
          }
       },
       "operationTime": "6827396811062247425"
    }
 }</code></pre>

      <!-- Obesity data documentation -->
      <h1 class="medium-title" id="api-data-response">Obesity data API</h1>
      <h1 class="small-title" id="api-data-response">Response structure</h1>
      <p>The structure of the API responses' body is as follows:</p>
      <ul class="small-category">
        <li>
          for successful responses, a JSON object containing the properties:
          <ul>
            <li>
              <mark class="highlight">status</mark>:
              <mark class="highlight">success</mark>
            </li>
            <li>
              <mark class="highlight">data</mark>: An object, structure detailed
              for each route below.
            </li>
          </ul>
        </li>
        <li>
          for unsuccessful responses, a JSON object containing the properties:
          <ul>
            <li>
              <mark class="highlight">status</mark>:
              <mark class="highlight">fail</mark>
            </li>
            <li>
              <mark class="highlight">error</mark>: An object containing a
              message property, and sometimes additional helpful properties.
            </li>
          </ul>
        </li>
      </ul>

      <!-- STATES -->

      <h1 class="small-title" id="api-states">/api/states</h1>
      <h1 class="subtitle">GET</h1>
      <p>
        Get the all the data from the db. Data is represented by documents with
        the obesity percentage for the total population of each country, within
        the years 2011-2018.
      </p>
      <h1 class="small-subtitle">Query parameters:</h1>
      <ul class="small-category">
        <li>
          country - Select only the data for a specific country.
        </li>
        <li>year - Select only the data for a specific year.</li>
      </ul>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          200 - OK
        </li>
        <li>
          400 - There was a problem fetching data
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3001/api/states</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
        <code>
{
    "status": "success",
    "data": [
        {
            "_id": "5e8c9f221f3c4c71f47a1ccd",
            "﻿ID": "21933",
            "Description": "2011",
            "LocationAbbr": "IL",
            "LocationDesc": "Illinois",
            "DataSource": "BRFSS",
            "Topic": "Obesity / Weight Status",
            "Data_Value": "27.1",
            "Sample_Size": "5",
            "Stratification1": "Total",
            "StratificationId1": "Total",
            "LocationDisplayOrder": "OVERALL"
        },
        {
            "_id": "5e8c9f221f3c4c71f47a1cc4",
            "﻿ID": "26780",
            "Description": "2011",
            "LocationAbbr": "CA",
            "LocationDesc": "California",
            "DataSource": "BRFSS",
            "Topic": "Obesity / Weight Status",
            "Data_Value": "23.8",
            "Sample_Size": "17",
            "Stratification1": "Total",
            "StratificationId1": "Total",
            "LocationDisplayOrder": "OVERALL"
        }
    ]
    }</code></pre>
      <h1 class="subtitle">POST</h1>
      <p>
        Post a document into states db.
      </p>
      <h1 class="small-subtitle">Request body</h1>
      <pre><code>{
    "ID": "671",
    "Description": "2019",
    "LocationAbbr": "US",
    "LocationDesc": "National",
    "DataSource": "BRFSS",
    "Topic": "Obesity / Weight Status",
    "Data_Value": "27.4",
    "Sample_Size": "470",
    "Stratification1": "700",
    "StratificationId1": "Total",
    "LocationDisplayOrder": "OVERALL"
}</code></pre>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          201 - CREATED
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3001/api/states</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
<code>{
    "status": "success",
    "data": {
       "ID": "671",
       "Description": "2019",
       "LocationAbbr": "US",
       "LocationDesc": "National",
       "DataSource": "BRFSS",
       "Topic": "Obesity / Weight Status",
       "Data_Value": "27.4",
       "Sample_Size": "470",
       "Stratification1": "700",
       "StratificationId1": "Total",
       "LocationDisplayOrder": "OVERALL"
    }
}</code></pre>
      <h1 class="subtitle">PATCH</h1>
      <p>
        Modify a document into states db.
      </p>
      <h1 class="small-subtitle">Query parameters:</h1>
      <ul class="small-category">
        <li>
          id - The id of the object you want to modify.
        </li>
      </ul>
      <h1 class="small-subtitle">Request body</h1>
      <pre><code>{
    "ID": "671",
    "Description": "2019",
    "LocationAbbr": "US",
    "LocationDesc": "National",
    "DataSource": "BRFSS",
    "Topic": "Obesity / Weight Status",
    "Data_Value": "27.4",
    "Sample_Size": "470",
    "Stratification1": "700",
    "StratificationId1": "Total",
    "LocationDisplayOrder": "OVERALL"
}</code></pre>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          204 - NO_CONTENT
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight"
        >localhost:3001/api/states?id=5ebd2b39eeb71e05e4fc5349</mark
      >
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
<code>
</code></pre>
      <h1 class="subtitle">DELETE</h1>
      <p>
        Delete the all the data from the states db. Data is represented by
        documents with the obesity percentage for the total population of each
        country, within the years 2011-2018.
      </p>
      <h1 class="small-subtitle">Query parameters:</h1>
      <ul class="small-category">
        <li>
          country - Delete only the data for a specific country.
        </li>
        <li>year - Delete only the data for a specific year.</li>
      </ul>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          204 - NO_CONTENT
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3001/api/states</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
        <code>
        </code></pre>
      <!-- AGE -->
      <h1 class="small-title" id="api-age">/api/age</h1>
      <h1 class="subtitle">GET</h1>
      <p>
        Get the all the data from the db. Data is represented by documents with
        the obesity percentage filtered by people age for each country, within
        the years 2011-2018.
      </p>
      <h1 class="small-subtitle">Query parameters:</h1>
      <ul class="small-category">
        <li>
          country - Select only the data for a specific country.
        </li>
        <li>year - Select only the data for a specific year.</li>
      </ul>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          200 - OK
        </li>
        <li>
          400 - There was a problem fetching data
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3001/api/age</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
   <code>
{
  "status": "success",
  "data": [
      {
        "_id": "5e8caf311f3c4c71f47a220d",
        "﻿ID": "31667",
        "Description": "2011",
        "LocationAbbr": "TX",
        "LocationDesc": "Texas",
        "DataSource": "BRFSS",
        "Topic": "Obesity / Weight Status",
        "Data_Value": "17.5",
        "Sample_Size": "570",
        "Stratification1": "18 - 24",
        "StratificationId1": "18 - 24",
        "LocationDisplayOrder": "AGEYR1824"
      },
      {
        "_id": "5e8caf311f3c4c71f47a21e4",
        "﻿ID": "1919",
        "Description": "2011",
        "LocationAbbr": "AZ",
        "LocationDesc": "Arizona",
        "DataSource": "BRFSS",
        "Topic": "Obesity / Weight Status",
        "Data_Value": "18.7",
        "Sample_Size": "240",
        "Stratification1": "18 - 24",
        "StratificationId1": "18 - 24",
        "LocationDisplayOrder": "AGEYR1824"
      }
  ]
}</code></pre>
      <h1 class="subtitle">POST</h1>
      <p>
        Post a document into age db.
      </p>
      <h1 class="small-subtitle">Request body</h1>
      <pre><code>{
  "ID": "20626",
  "Description": "2011",
  "LocationAbbr": "WY",
  "LocationDesc": "Wyoming",
  "DataSource": "BRFSS",
  "Topic": "Obesity / Weight Status",
  "Data_Value": "12.6",
  "Sample_Size": "303",
  "Stratification1": "18 - 24",
  "StratificationId1": "18 - 24",
  "LocationDisplayOrder": "AGEYR1824"
}</code></pre>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          201 - CREATED
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3001/api/age</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
<code>{
"status": "success",
"data": {
  "ID": "20626",
  "Description": "2011",
  "LocationAbbr": "WY",
  "LocationDesc": "Wyoming",
  "DataSource": "BRFSS",
  "Topic": "Obesity / Weight Status",
  "Data_Value": "12.6",
  "Sample_Size": "303",
  "Stratification1": "18 - 24",
  "StratificationId1": "18 - 24",
  "LocationDisplayOrder": "AGEYR1824"
  }
}</code></pre>
      <h1 class="subtitle">PATCH</h1>
      <p>
        Modify a document into age db.
      </p>
      <h1 class="small-subtitle">Query parameters:</h1>
      <ul class="small-category">
        <li>
          id - The id of the object you want to modify.
        </li>
      </ul>
      <h1 class="small-subtitle">Request body</h1>
      <pre><code>{
  "ID": "20626",
  "Description": "2011",
  "LocationAbbr": "WY",
  "LocationDesc": "Wyoming",
  "DataSource": "BRFSS",
  "Topic": "Obesity / Weight Status",
  "Data_Value": "12.6",
  "Sample_Size": "303",
  "Stratification1": "18 - 24",
  "StratificationId1": "18 - 24",
  "LocationDisplayOrder": "AGEYR1824"
}</code></pre>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          204 - NO_CONTENT
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight"
        >localhost:3001/api/age?id=5e8caf311f3c4c71f47a2214</mark
      >
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
<code>
</code></pre>
      <h1 class="subtitle">DELETE</h1>
      <p>
        Delete the all the data from the age db. Data is represented by
        documents with the obesity percentage filtered by the age of each
        country, within the years 2011-2018.
      </p>
      <h1 class="small-subtitle">Query parameters:</h1>
      <ul class="small-category">
        <li>
          country - Delete only the data for a specific country.
        </li>
        <li>year - Delete only the data for a specific year.</li>
      </ul>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          204 - NO_CONTENT
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3001/api/age</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
        <code>
        </code></pre>

      <!-- GENDER -->
      <h1 class="small-title" id="api-gender">/api/gender</h1>
      <h1 class="subtitle">GET</h1>
      <p>
        Get the all the data from the db. Data is represented by documents with
        the obesity percentage filtered by gender, within the years 2011-2018.
      </p>
      <h1 class="small-subtitle">Query parameters:</h1>
      <ul class="small-category">
        <li>
          country - Select only the data for a specific country.
        </li>
        <li>year - Select only the data for a specific year.</li>
      </ul>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          200 - OK
        </li>
        <li>
          400 - There was a problem fetching data
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3001/api/gender</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
   <code>
{
  "status": "success",
  "data": [
      {
        "_id": "5e8cad651f3c4c71f47a1e83",
        "﻿ID": "61239",
        "Description": "2018",
        "LocationAbbr": "IL",
        "LocationDesc": "Illinois",
        "DataSource": "BRFSS",
        "Topic": "Obesity / Weight Status",
        "Data_Value": "33.2",
        "Sample_Size": "2",
        "Stratification1": "Female",
        "StratificationId1": "Female",
        "LocationDisplayOrder": "FEMALE"
    },
    {
        "_id": "5e8cad651f3c4c71f47a1e90",
        "﻿ID": "62939",
        "Description": "2018",
        "LocationAbbr": "MT",
        "LocationDesc": "Montana",
        "DataSource": "BRFSS",
        "Topic": "Obesity / Weight Status",
        "Data_Value": "25.8",
        "Sample_Size": "2",
        "Stratification1": "Female",
        "StratificationId1": "Female",
        "LocationDisplayOrder": "FEMALE"
    }
  ]
}</code></pre>
      <h1 class="subtitle">POST</h1>
      <p>
        Post a document into gender db.
      </p>
      <h1 class="small-subtitle">Request body</h1>
      <pre><code>{
    "ID": "62939",
    "Description": "2018",
    "LocationAbbr": "MT",
    "LocationDesc": "Montana",
    "DataSource": "BRFSS",
    "Topic": "Obesity / Weight Status",
    "Data_Value": "25.8",
    "Sample_Size": "2",
    "Stratification1": "Female",
    "StratificationId1": "Female",
    "LocationDisplayOrder": "FEMALE"
}</code></pre>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          201 - CREATED
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3001/api/gender</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
<code>{
"status": "success",
"data": {
  "ID": "62939",
  "Description": "2018",
  "LocationAbbr": "MT",
  "LocationDesc": "Montana",
  "DataSource": "BRFSS",
  "Topic": "Obesity / Weight Status",
  "Data_Value": "25.8",
  "Sample_Size": "2",
  "Stratification1": "Female",
  "StratificationId1": "Female",
  "LocationDisplayOrder": "FEMALE"
  }
}</code></pre>
      <h1 class="subtitle">PATCH</h1>
      <p>
        Modify a document into gender db.
      </p>
      <h1 class="small-subtitle">Query parameters:</h1>
      <ul class="small-category">
        <li>
          id - The id of the object you want to modify.
        </li>
      </ul>
      <h1 class="small-subtitle">Request body</h1>
      <pre><code>{
    "_id": "5e8cad651f3c4c71f47a1e90",
    "﻿ID": "62939",
    "Description": "2018",
    "LocationAbbr": "MT",
    "LocationDesc": "Montana",
    "DataSource": "BRFSS",
    "Topic": "Obesity / Weight Status",
    "Data_Value": "25.8",
    "Sample_Size": "2",
    "Stratification1": "Female",
    "StratificationId1": "Female",
    "LocationDisplayOrder": "FEMALE"
}</code></pre>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          204 - NO_CONTENT
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight"
        >localhost:3001/api/gender?id=5e8cad651f3c4c71f47a1ea9</mark
      >
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
<code>
</code></pre>
      <h1 class="subtitle">DELETE</h1>
      <p>
        Delete the all the data from the gender db. Data is represented by
        documents with the obesity percentage filtered by the gender of each
        country, within the years 2011-2018.
      </p>
      <h1 class="small-subtitle">Query parameters:</h1>
      <ul class="small-category">
        <li>
          country - Delete only the data for a specific country.
        </li>
        <li>year - Delete only the data for a specific year.</li>
      </ul>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          204 - NO_CONTENT
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3001/api/gender</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
        <code>
        </code></pre>

      <!-- INCOME -->
      <h1 class="small-title" id="api-income">/api/income</h1>
      <h1 class="subtitle">GET</h1>
      <p>
        Get the all the data from the db. Data is represented by documents with
        the obesity percentage filtered by people income for each country,
        within the years 2011-2018.
      </p>
      <h1 class="small-subtitle">Query parameters:</h1>
      <ul class="small-category">
        <li>
          country - Select only the data for a specific country.
        </li>
        <li>year - Select only the data for a specific year.</li>
      </ul>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          200 - OK
        </li>
        <li>
          400 - There was a problem fetching data
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3001/api/income</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
   <code>
{
  "_id": "5e8cb0d31f3c4c71f47a259c",
  "﻿ID": "16143",
  "Description": "2011",
  "LocationAbbr": "AL",
  "LocationDesc": "Alabama",
  "DataSource": "BRFSS",
  "Topic": "Obesity / Weight Status",
  "Data_Value": "34.8",
  "Sample_Size": "1",
  "Stratification1": "$15000 - $24999",
  "StratificationId1": "$15000 - $24999",
  "LocationDisplayOrder": "000 - $24"
},
{
  "_id": "5e8cb0d31f3c4c71f47a25af",
  "﻿ID": "6365",
  "Description": "2011",
  "LocationAbbr": "ME",
  "LocationDesc": "Maine",
  "DataSource": "BRFSS",
  "Topic": "Obesity / Weight Status",
  "Data_Value": "33.7",
  "Sample_Size": "2",
  "Stratification1": "$15000 - $24999",
  "StratificationId1": "$15000 - $24999",
  "LocationDisplayOrder": "000 - $24"
}</code></pre>
      <h1 class="subtitle">POST</h1>
      <p>
        Post a document into income db.
      </p>
      <h1 class="small-subtitle">Request body</h1>
      <pre><code>{
  "ID": "6365",
  "Description": "2011",
  "LocationAbbr": "ME",
  "LocationDesc": "Maine",
  "DataSource": "BRFSS",
  "Topic": "Obesity / Weight Status",
  "Data_Value": "33.7",
  "Sample_Size": "2",
  "Stratification1": "$15000 - $24999",
  "StratificationId1": "$15000 - $24999",
  "LocationDisplayOrder": "000 - $24"
}</code></pre>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          201 - CREATED
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3001/api/income</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
<code>{
"status": "success",
"data": {
  "ID": "6365",
  "Description": "2011",
  "LocationAbbr": "ME",
  "LocationDesc": "Maine",
  "DataSource": "BRFSS",
  "Topic": "Obesity / Weight Status",
  "Data_Value": "33.7",
  "Sample_Size": "2",
  "Stratification1": "$15000 - $24999",
  "StratificationId1": "$15000 - $24999",
  "LocationDisplayOrder": "000 - $24"
}
}</code></pre>
      <h1 class="subtitle">PATCH</h1>
      <p>
        Modify a document into income db.
      </p>
      <h1 class="small-subtitle">Query parameters:</h1>
      <ul class="small-category">
        <li>
          id - The id of the object you want to modify.
        </li>
      </ul>
      <h1 class="small-subtitle">Request body</h1>
      <pre><code>{
  "ID": "6365",
  "Description": "2011",
  "LocationAbbr": "ME",
  "LocationDesc": "Maine",
  "DataSource": "BRFSS",
  "Topic": "Obesity / Weight Status",
  "Data_Value": "33.7",
  "Sample_Size": "2",
  "Stratification1": "$15000 - $24999",
  "StratificationId1": "$15000 - $24999",
  "LocationDisplayOrder": "000 - $24"
}</code></pre>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          204 - NO_CONTENT
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight"
        >localhost:3001/api/income?id=5e8cb0d31f3c4c71f47a259c</mark
      >
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
<code>
</code></pre>
      <h1 class="subtitle">DELETE</h1>
      <p>
        Delete the all the data from the income db. Data is represented by
        documents with the obesity percentage filtered by the income of each
        country, within the years 2011-2018.
      </p>
      <h1 class="small-subtitle">Query parameters:</h1>
      <ul class="small-category">
        <li>
          country - Delete only the data for a specific country.
        </li>
        <li>year - Delete only the data for a specific year.</li>
      </ul>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          204 - NO_CONTENT
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3001/api/income</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
        <code>
        </code></pre>
      <!-- ETHNICITY -->

      <h1 class="small-title" id="api-ethnicity">/api/ethnicity</h1>
      <h1 class="subtitle">GET</h1>
      <p>
        Get the all the data from the db. Data is represented by documents with
        the obesity percentage filtered by ethnicity, within the years
        2011-2018.
      </p>
      <h1 class="small-subtitle">Query parameters:</h1>
      <ul class="small-category">
        <li>
          country - Select only the data for a specific country.
        </li>
        <li>year - Select only the data for a specific year.</li>
      </ul>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          200 - OK
        </li>
        <li>
          400 - There was a problem fetching data
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3001/api/ethnicity</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
   <code>
{
"status": "success",
"data": [
      {
        "_id": "5e8cafb61f3c4c71f47a23f6",
        "﻿ID": "36152",
        "Description": "2011",
        "LocationAbbr": "AZ",
        "LocationDesc": "Arizona",
        "DataSource": "BRFSS",
        "Topic": "Obesity / Weight Status",
        "Data_Value": "20.8",
        "Sample_Size": "82",
        "Stratification1": "2 or more races",
        "StratificationId1": "2 or more races",
        "LocationDisplayOrder": "RACE2PLUS"
      },
      {
        "_id": "5e8cafb61f3c4c71f47a2401",
        "﻿ID": "37924",
        "Description": "2011",
        "LocationAbbr": "IL",
        "LocationDesc": "Illinois",
        "DataSource": "BRFSS",
        "Topic": "Obesity / Weight Status",
        "Data_Value": "33.4",
        "Sample_Size": "55",
        "Stratification1": "2 or more races",
        "StratificationId1": "2 or more races",
        "LocationDisplayOrder": "RACE2PLUS"
      }
]
}</code></pre>
      <h1 class="subtitle">POST</h1>
      <p>
        Post a document into ethnicity db.
      </p>
      <h1 class="small-subtitle">Request body</h1>
      <pre><code>{
"ID": "671",
"Description": "2019",
"LocationAbbr": "US",
"LocationDesc": "National",
"DataSource": "BRFSS",
"Topic": "Obesity / Weight Status",
"Data_Value": "27.4",
"Sample_Size": "470",
"Stratification1": "Asian",
"StratificationId1": "Asian",
"LocationDisplayOrder": "RACEASN"
}</code></pre>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          201 - CREATED
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3001/api/ethnicity</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
<code>{
"status": "success",
"data": {
    "ID": "671",
    "Description": "2019",
    "LocationAbbr": "US",
    "LocationDesc": "National",
    "DataSource": "BRFSS",
    "Topic": "Obesity / Weight Status",
    "Data_Value": "27.4",
    "Sample_Size": "470",
    "Stratification1": "Asian",
    "StratificationId1": "Asian",
    "LocationDisplayOrder": "RACEASN"
}
}</code></pre>
      <h1 class="subtitle">PATCH</h1>
      <p>
        Modify a document into ethnicity db.
      </p>
      <h1 class="small-subtitle">Query parameters:</h1>
      <ul class="small-category">
        <li>
          id - The id of the object you want to modify.
        </li>
      </ul>
      <h1 class="small-subtitle">Request body</h1>
      <pre><code>{
"ID": "671",
"Description": "2019",
"LocationAbbr": "US",
"LocationDesc": "National",
"DataSource": "BRFSS",
"Topic": "Obesity / Weight Status",
"Data_Value": "37.4",
"Sample_Size": "470",
"Stratification1": "Asian",
"StratificationId1": "Asian",
"LocationDisplayOrder": "RACEASN"
}</code></pre>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          204 - NO_CONTENT
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight"
        >localhost:3001/api/ethnicity?id=5ec2c930108fc525a4e217f6</mark
      >
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
<code>
</code></pre>
      <h1 class="subtitle">DELETE</h1>
      <p>
        Delete the all the data from the ethnicity db. Data is represented by
        documents with the obesity percentage filtered by the ethnicity of each
        country, within the years 2011-2018.
      </p>
      <h1 class="small-subtitle">Query parameters:</h1>
      <ul class="small-category">
        <li>
          country - Delete only the data for a specific country.
        </li>
        <li>year - Delete only the data for a specific year.</li>
      </ul>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          204 - NO_CONTENT
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3001/api/ethnicity</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
        <code>
        </code></pre>

      <!-- EDUCATION -->

      <h1 class="small-title" id="api-education">/api/education</h1>
      <h1 class="subtitle">GET</h1>
      <p>
        Get the all the data from the db. Data is represented by documents with
        the obesity percentage filtered by education, within the years
        2011-2018.
      </p>
      <h1 class="small-subtitle">Query parameters:</h1>
      <ul class="small-category">
        <li>
          country - Select only the data for a specific country.
        </li>
        <li>year - Select only the data for a specific year.</li>
      </ul>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          200 - OK
        </li>
        <li>
          400 - There was a problem fetching data
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3001/api/education</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
   <code>
{
"status": "success",
"data": [
      {
        "_id": "5e8caf761f3c4c71f47a2327",
        "﻿ID": "15545",
        "Description": "2011",
        "LocationAbbr": "DE",
        "LocationDesc": "Delaware",
        "DataSource": "BRFSS",
        "Topic": "Obesity / Weight Status",
        "Data_Value": "24.1",
        "Sample_Size": "1",
        "Stratification1": "College graduate",
        "StratificationId1": "College graduate",
        "LocationDisplayOrder": "EDUCOGRAD"
      },
      {
        "_id": "5e8caf761f3c4c71f47a232d",
        "﻿ID": "37561",
        "Description": "2011",
        "LocationAbbr": "IL",
        "LocationDesc": "Illinois",
        "DataSource": "BRFSS",
        "Topic": "Obesity / Weight Status",
        "Data_Value": "23.4",
        "Sample_Size": "1",
        "Stratification1": "College graduate",
        "StratificationId1": "College graduate",
        "LocationDisplayOrder": "EDUCOGRAD"
      }
]
}</code></pre>
      <h1 class="subtitle">POST</h1>
      <p>
        Post a document into education db.
      </p>
      <h1 class="small-subtitle">Request body</h1>
      <pre><code>{
"ID": "671",
"Description": "2019",
"LocationAbbr": "US",
"LocationDesc": "National",
"DataSource": "BRFSS",
"Topic": "Obesity / Weight Status",
"Data_Value": "27.4",
"Sample_Size": "470",
"Stratification1": "College graduate",
"StratificationId1": "College graduate",
"LocationDisplayOrder": "EDUCOGRAD"
}</code></pre>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          201 - CREATED
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3001/api/education</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
<code>{
"status": "success",
"data": {
    "ID": "671",
    "Description": "2019",
    "LocationAbbr": "US",
    "LocationDesc": "National",
    "DataSource": "BRFSS",
    "Topic": "Obesity / Weight Status",
    "Data_Value": "27.4",
    "Sample_Size": "470",
    "Stratification1": "College graduate",
    "StratificationId1": "College graduate",
    "LocationDisplayOrder": "EDUCOGRAD"
}
}</code></pre>
      <h1 class="subtitle">PATCH</h1>
      <p>
        Modify a document into education db.
      </p>
      <h1 class="small-subtitle">Query parameters:</h1>
      <ul class="small-category">
        <li>
          id - The id of the object you want to modify.
        </li>
      </ul>
      <h1 class="small-subtitle">Request body</h1>
      <pre><code>{
"ID": "671",
"Description": "2019",
"LocationAbbr": "US",
"LocationDesc": "National",
"DataSource": "BRFSS",
"Topic": "Obesity / Weight Status",
"Data_Value": "37.4",
"Sample_Size": "470",
"Stratification1": "College graduate",
"StratificationId1": "College graduate",
"LocationDisplayOrder": "EDUCOGRAD"
}</code></pre>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          204 - NO_CONTENT
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight"
        >localhost:3001/api/education?id=5ec2c930108fc525a4e217f6</mark
      >
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
<code>
</code></pre>
      <h1 class="subtitle">DELETE</h1>
      <p>
        Delete the all the data from the education db. Data is represented by
        documents with the obesity percentage filtered by the education of each
        country, within the years 2011-2018.
      </p>
      <h1 class="small-subtitle">Query parameters:</h1>
      <ul class="small-category">
        <li>
          country - Delete only the data for a specific country.
        </li>
        <li>year - Delete only the data for a specific year.</li>
      </ul>
      <h1 class="small-subtitle">Return codes:</h1>
      <ul class="small-category">
        <li>
          204 - NO_CONTENT
        </li>
        <li>
          400 - Bad Request
        </li>
      </ul>
      <h1 class="small-subtitle">Usage example:</h1>
      <mark class="highlight">localhost:3001/api/education</mark>
      <h1 class="small-subtitle">Returned data example:</h1>
      <pre>
        <code>
        </code></pre>
    </div>

    <div class="clearfix"></div>
    <footer>
      <div class="line"></div>
      <div class="footer-content">
        <div class="footer-about-us">
          <h3>Obesity prevalance visualizer</h3>
          <h3>About us</h3>
          <p>
            Why painful the sixteen how minuter looking nor. Subject but why ten
            earnest husband imagine sixteen brandon.
          </p>
          <h3>Contact us</h3>
          <div class="mail-tel">
            <i class="fas fa-phone-alt"></i>
            <p>07865678</p>
          </div>
          <div class="mail-tel">
            <i class="fas fa-envelope-open-text"></i>
            <p>obesity.prevalance@yahoo.com</p>
          </div>
        </div>
        <div class="footer-information">
          <h3>Informations</h3>
          <ul>
            <li><a href="./about.html">About</a></li>
            <li><a href="./statistics.html">Statistics</a></li>
            <li><a href="./healthArticles.html">Health and Wellness</a></li>
            <li>
              <a href="./diseasesArticles.html">Diseases and Conditions</a>
            </li>
            <li><a href="./programs.html">Programs</a></li>
          </ul>
        </div>
        <div class="footer-helpful">
          <h3>Helpful links</h3>
          <ul>
            <li><a href="./healthArticles.html">Health and Wellness</a></li>
            <li>
              <a href="./diseasesArticles.html">Diseases and Conditions</a>
            </li>
            <li><a href="./programs.html">Programs</a></li>
          </ul>
        </div>
      </div>
      <div class="line"></div>
      <div class="social-media-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-google-plus-g"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="footer-end">
        <p>2020 &#64;FilimonSimion. All rights reserved</p>
      </div>
    </footer>
  </body>
</html>
