<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>line chart</title>
    <link rel="stylesheet" href="resources/css/chart.css" />
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script
      src="https://kit.fontawesome.com/cec80c6e23.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Line chart</h1>
    <section id="chart-area">
      <script src="scripts/linecharts/createLineChartSeries.js"></script>
    </section>
  </body>
</html>
