section,
svg {
  margin: 0 auto 10px;
  display: block;
}

#time-bar {
  padding-left: 20px;
  padding-right: 20px;
}

#chart-area {
  padding-top: 50px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

#time-img {
  vertical-align: top;
  cursor: pointer;
}

.far {
  font-size: 30px;
  color: #005082;
}

.far:hover {
  color: #000839;
}

table {
  margin: 0 auto;
  border-spacing: 5px;
}

.time-cell {
  box-sizing: border-box;
  background-color: #005082;
  padding: 6px;
  cursor: pointer;
}

.time-cell:hover {
  background-color: #000839;
}

.year-cell {
  text-align: center;
  font-size: 14px;
}
