@media only screen and (max-width: 1300px) {
  svg {
    height: 100%;
    width: 80%;
  }
}
@media only screen and (max-width: 1000px) {
  #chart-area {
    padding-top: 0px !important;
  }
  .statistics-grid {
    grid-template-columns: 1fr;
  }
  .dropdown-content {
    text-align: center;
  }
  .choose-menu .secondary-dropdown {
    text-align: center;
  }
  svg {
    height: 300px;
    width: 300px;
  }
  .chart-menu {
    height: 70px;
  }
}
@media only screen and (max-width: 640px) {
  #time-bar,
  #time-cells {
    width: 200px !important;
  }
  .year-cell {
    font-size: 10px !important;
  }
  .export-menu {
    padding: 1rem 1rem 1rem 1rem;
  }
  .export-menu p {
    font-size: 18px;
  }
  .export-menu li i {
    margin-left: 1rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 568px) {
  .export-menu p {
    font-size: 13px;
  }
  .export-menu li i {
    margin-left: 0.7rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 468px) {
  svg {
    height: 300px;
    width: 250px;
    margin: 0;
  }
}

@media only screen and (max-width: 436px) {
  #time-bar,
  #time-cells {
    width: 130px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .year-cell {
    font-size: 8px !important;
  }
}

@media only screen and (max-width: 360px) {
  #time-bar,
  #time-cells {
    width: 120px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .year-cell {
    font-size: 6px !important;
  }
  svg {
    height: 250px;
    width: 220px;
    margin: 0;
  }
}
